header {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    gap: 4rem;
}

ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

ul a:hover {
    color: black;
}

.hamburger-menu-icon {
    display: none;
}

/*/////////////////////// Mobile layout////////////////////// */

@media (max-width: 768px) {

    nav ul {
        opacity: 0;
        display: none;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        gap: 0;
        opacity: 1;
        position: absolute;
        top: 100%;
        right: 0;
        animation: slide-in-right 0.3s forwards;
        background-color: rgba(0, 0, 0, 0.469);
        color: #fff;
        text-align: center;
        width: 100%;

    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 2rem;
    }

    nav ul li a:hover {
        background-color: #fff;
        color: black;
    }

    a:hover {
        color: black;
    }

    @keyframes slide-in-right {
        0% {
            opacity: 0;
            transform: translateX(200px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .hamburger-menu-icon {
        display: block;
        position: absolute;
        right: 1rem;
        top: 2rem;
        font-size: 3rem;
        cursor: pointer;
    }

    #cancel {
        display: none;
    }
}